.HomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rectangle {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  line-height: 40px;
  margin: 25px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 15px;
  font-size: 25px;
}

#homepage-button-pole:hover {
  background-color: #008080;
}

#homepage-button-vinyls:hover {
  background-color: #008080;
}

#homepage-button-gigs:hover {
  background-color: #008080;
}

#homepage-button-recipes:hover {
  background-color: #008080;
}
